.cuadrado{
    width: 100px;
    height: 100px;
    background-color:brown;
    margin-left: 20px;
}
.rombo{
    width: 100px;
    height: 100px;
    background-color:brown;
    margin-left: 20px;
    transform: rotate(45deg);
}

.paralelogramo{
    width: 150px;
    height: 100px;
    background-color:brown;
    margin-left: 20px;
    transform: skew(20deg);
}
.triangulo{
    width: 0px;
    height: 0px;
    margin-left: 20px;
    border-left: 50px solid transparent;
    border-top: 50px solid yellow;
    border-right: 50px solid yellow;
    border-bottom: 50px solid transparent;
}
.circulo1{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    background-color: brown;
    border-radius: 50%;
}
.circulo2{
    width: 0px;
    height: 0px;
    margin-left: 20px;
    background-color: brown;
    border-radius: 50%;
    border-left: 50px solid red;
    border-top: 50px solid yellow;
    border-right: 50px solid green;
    border-bottom: 50px solid blue
}
.diamante{
    clip-path: polygon(0% 20%, 20% 0%, 80% 0%, 100% 20%, 50% 100%);
    background-color: brown;
    height: 100px;
    width: 100px;
    margin-left: 20px;
}
.animado{
    width: 50%;
    transition: all 1s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.animado:hover{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.corazon{
    top:50%;
    left: 50%;
    transform: translate(-50%, -30%) rotate(-45deg);
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
}
.banda{
    position: absolute;
    width: 170%;
    height: 15%;
    background-color: white;
    top: 35%;
    left: -10px;
    z-index: 1;
}

.corazon::before,
.corazon::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: red;
}
.corazon::before{
    left: 50%;
}
.corazon::after{
    top: -50%;
}




/* animacion*/

.corazon:hover {
    animation: latir 15s cubic-bezier(.32, 2, .59, 2) infinite;
}

@keyframes latir {
    3% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(1.1);
    }
    8% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(1.2);
    }
    13% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(1.3);
    }
    18% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(1.4);
    }
    23% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(1.5);
    }
    28% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(1.6);
    }
    33% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(1.7);
    }
    38% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(1.8);
    }
    43% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(1.9);
    }
    48% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(2);
    }
    53% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(2.1);
    }
    58% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(2.2);
    }
    63% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(2.3);
    }
    68% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(2.4);
    }
    73% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(2.5);
    }
    78% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(2.6);
    }
    83% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(2.7);
    }
    88% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(2.8);
    }
    93% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(2.9);
    }
    98% {
        transform: translate(-50%, -30%) rotate(-45deg) scale(3);
    }
}

