.pf1::first-letter{
    font-size: 2rem;
}
.pf2::first-letter{
    float: left;
    font-family: 'Times New Roman';
    font-size: 400%;
    font-weight: bolder;
}
.seudoEle{
    border: 2px solid black;
    width: 10%;
    text-align: center;
}

.seudoEle:before{
    content: 'Hola';
    background-color: red;
}

.seudoEle:after{
    content: 'Peru';
    background-color: red;
}
.seudocla:hover{
    background-color: yellow;
}
a:hover{
    color:red;
}
a:focus{
    color: green;
}
a:active{
    color: hotpink;
}