html, body{
    height: 100%;
}
#cover{
    background: #222 url(../img/dog-2785074_1920.jpg) center no-repeat;
    background-size: 100%;
    color: whitesmoke;
    height: 100%;
    text-align: center;
display: flex;
    align-items: center;
}
#cover-texto{
    width: 100%;
}