
.grid{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 180px 52px 1fr 200px ; 

    grid-template-areas: "header header" "menu menu" "main main2" "main3 main3" "foot foot";
}
#img1{
    width: 150px;
    height: 150px;
    float: left;
    padding: 20px;

}
a{ 
    height: 200px;
    color: #000000; 
} 
h1{
    margin-top: 50px;
}
.a{
    grid-area: header;
    background-color: teal;
}

#iniciarsesion{
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
    float: right;
}

.menu{
    grid-area: menu;
    align-items: center;
    background-color: #333;
    padding-top: 8px;
    padding-bottom: 8px;
}

.c{
    align-items: center;
    grid-area: main2 ;
    background-color:teal;
}
.c1{
    background-color:gray;
    width: 200px;
    height: 140px;
    margin-left: 40px;
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 10px;
}
.c2{
    background-color: gray;
    width: 200px;
    height: 140px;
    margin-left: 40px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 30px;
}
.d{
    grid-area: main3;
    background-color: teal;
}
#img2{
    width: 120px;
    height: 120px;
    float: left;
    padding: 20px;
    top: 30px;
    left: 30px;
    margin-top: 25px;
}
.d1{
    padding: 20px;
    float: left;
    top: 30px;
    left: 30px;

}
.d2{
    padding: 20px;
    float: left;
    top: 30px;
    left: 30px;

}
.d3{
    padding: 20px;
    float: left;
    top: 30px;
    left: 30px;

}
.d4{
    padding: 20px;
    float: left;
    top: 30px;
    left: 30px;

}
.e{
    grid-area: foot;
    background-color: #333;
    text-align: center;
    color:#fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav{
    background-color: #333;
}
nav ul{
    margin: 0px;
}
nav a{
    text-decoration:none;
    color:inherit;
    font-size:20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    } 
nav li{
    display:inline-block;
    border:1px solid #000;
    text-align:center;
    color:#fff;
}
nav li:hover{
    background-color: lightseagreen;
    color:#000;
}



body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: white; 
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: teal; 
  padding-left: 30px; 
}


input{
  background-color: teal; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: white; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: white; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: black; 
  border-color: black; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: white; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color:white;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}
