.grid {
    display: grid; 
    grid-template-areas: "mi-encabezado mi-encabezado mi-encabezado" "mi-navegación mi-sección mi-lado" "mi-pie de página mi-pie de página mi-pie de página";
} 
header
{ grid-area: my-header; background-color: blueviolet;} 
nav {grid-area: my-nav; background-color: cornflowerblue;} 
section {grid-area: my-section; background-color: indigo;}